<div class="team-info-container">

  <div class="team-info-block">

    <div class="team-info-header">
      <p class="custom-a">{{team.name}}</p>
      <div class="action-buttons">
        <img [routerLink]="['edit']" src="./assets/icons/edit.svg" alt="">
        <img (click)="deleteTeam()" src="./assets/icons/delete.svg" alt="">
      </div>
    </div>

    <div class="team-info-body">

      <div class="team-info-image">
        <img [src]="fileService.getImage(team.imageUrl!)" alt="">
      </div>

      <div class="team-info-details">

        <p class="team-name">{{team.name}}</p>

        <div class="team-details-row">

          <div class="team-details">
            <p class="subtitle">Year of foundation</p>
            <p class="info">{{team.foundationYear}}</p>
          </div>

          <div class="team-details">
            <p class="subtitle">Division</p>
            <p class="info">{{team.division}}</p>
          </div>

        </div>

        <div class="team-details">
          <p class="subtitle">Conference</p>
          <p class="info">{{team.conference}}</p>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="players && players.length > 0" class="team-players-list">

    <table>
      <thead>
      <tr>
        <th>Roster</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th class="text-end">Height</th>
        <th class="text-end">Weight</th>
        <th class="text-end">Age</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let player of players">
        <td>1</td>
        <td>
          <div class="player">
            <img src="./assets/images/player1.svg" alt="">
            <div class="player-info">
              <p class="player-name">{{player.name}}</p>
              <p class="player-position">{{player.position}}</p>
            </div>
          </div>
        </td>
        <td class="text-end">{{player.height}} cm</td>
        <td class="text-end">{{player.weight}} kg</td>
        <td class="text-end">{{player.birthday}}</td>
      </tr>

      </tbody>
    </table>

  </div>

</div>
