<div class="team-info-container">

  <div class="team-info-block">

    <div class="team-info-header">
      <p>Teams / Denver Aboba</p>
      <div class="action-buttons">
        <img src="./assets/icons/edit.svg" alt="">
        <img src="./assets/icons/delete.svg" alt="">
      </div>
    </div>

    <div class="team-info-body">

      <div class="team-info-image">
        <img src="./assets/images/team1.svg" alt="">
      </div>

      <div class="team-info-details">

        <p class="team-name">Denver Nuggets</p>

        <div class="team-details-row">

          <div class="team-details">
            <p class="subtitle">Year of foundation</p>
            <p class="info">1980</p>
          </div>

          <div class="team-details">
            <p class="subtitle">Division</p>
            <p class="info">Nothernwestern</p>
          </div>

        </div>

        <div class="team-details">
          <p class="subtitle">Conference</p>
          <p class="info">Western</p>
        </div>

      </div>

    </div>

  </div>

  <div class="team-players-list">

    <table>
      <thead>
      <tr>
        <th>Roster</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th class="text-end">Height</th>
        <th class="text-end">Weight</th>
        <th class="text-end">Age</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>
          <div class="player">
            <img src="./assets/images/player1.svg" alt="">
            <div class="player-info">
              <p class="player-name">Bol Bol</p>
              <p class="player-position">Centerforward</p>
            </div>
          </div>
        </td>
        <td class="text-end">218 cm</td>
        <td class="text-end">100 kg</td>
        <td class="text-end">28</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
