.team-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 5rem;

  .team-info-block {
    //display: flex;
    //flex-direction: row;

    .team-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2rem;
      background: #FFF;
      border-radius: 10px 10px 0 0;

      .action-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          cursor: pointer;
        }
      }
    }

    .team-info-body {
      display: flex;
      align-items: center;
      border-radius: 0 0 10px 10px;
      background: linear-gradient(380deg, #707070 0%, #393939 100.28%);

      .team-info-image {
        padding: 7rem 9rem;
      }

      .team-info-details {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .team-details-row {
          display: flex;
          gap: 4rem;
        }

        .team-name {
          font-size: 36px;
          font-weight: 700;
          color: #FFF;
        }

        .team-details {
          color: #FFF;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .subtitle {
            font-size: 23px;
            font-weight: 700;
          }
          .info {
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .team-players-list {
    table {

      * {
        color: #707070;
        font-size: 14px;
      }
      width: 100%;
      border: 0.5px solid #9C9C9C;
      border-radius: 10px;
      thead tr:first-child, tbody tr:first-child {

      }
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    th.text-end, td.text-end {
      text-align: end;
    }
    th.text-center, td.text-center {
      text-align: center;
    }

    tr {
      position: relative;
      border-radius: 8px; /* Добавлено свойство border-radius */

      td div.player {
        display: flex;
        gap: 1rem;
        .player-info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }

      th {
        border-bottom: 0.5px solid #9C9C9C;
      }
    }
    tr::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #9C9C9C;
    }

    tbody tr:last-child::after {
      background-color: unset;
    }
  }
}
