<div class="team-info-container">

  <div class="team-info-block">

    <div class="team-info-header">
      <p class="custom-a"><span [routerLink]="['/players']">Players</span> / {{player.name}}</p>
      <div class="action-buttons">

        <svg [routerLink]="['/players', player.id, 'edit']" (mouseover)="hoveredDelete = true" (mouseout)="hoveredDelete = false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="create">
            <path id="create_2" fill-rule="evenodd" clip-rule="evenodd" d="M20.7089 5.63151C21.0989 6.02151 21.0989 6.65151 20.7089 7.04151L18.8789 8.87151L15.1289 5.12151L16.9589 3.29151C17.1458 3.10426 17.3994 2.99902 17.6639 2.99902C17.9285 2.99902 18.1821 3.10426 18.3689 3.29151L20.7089 5.63151ZM2.99878 20.5015V17.4615C2.99878 17.3216 3.04878 17.2015 3.14878 17.1015L14.0588 6.19155L17.8088 9.94155L6.88878 20.8515C6.79878 20.9515 6.66878 21.0015 6.53878 21.0015H3.49878C3.21878 21.0015 2.99878 20.7815 2.99878 20.5015Z" fill="#9C9C9C"/>
          </g>
        </svg>

        <svg (click)="deletePlayer()" (mouseover)="hoveredEdit = true" (mouseout)="hoveredEdit = false" width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="delete">
            <path [ngStyle]="{fill:'#E4163A'}" id="delete_2" fill-rule="evenodd" clip-rule="evenodd" d="M10.3333 2.66667H11.9999C12.3666 2.66667 12.6666 2.96667 12.6666 3.33333C12.6666 3.7 12.3666 4 11.9999 4H3.99992C3.63325 4 3.33325 3.7 3.33325 3.33333C3.33325 2.96667 3.63325 2.66667 3.99992 2.66667H5.66659L6.13992 2.19333C6.25992 2.07333 6.43325 2 6.60659 2H9.39325C9.56659 2 9.73992 2.07333 9.85992 2.19333L10.3333 2.66667ZM5.33325 14C4.59992 14 3.99992 13.4 3.99992 12.6667V6C3.99992 5.26667 4.59992 4.66667 5.33325 4.66667H10.6666C11.3999 4.66667 11.9999 5.26667 11.9999 6V12.6667C11.9999 13.4 11.3999 14 10.6666 14H5.33325Z" fill="#9C9C9C"/>
          </g>
        </svg>

      </div>
    </div>

    <div class="team-info-body">

      <div class="team-info-image">
        <img [src]="fileService.getImage(player.avatarUrl!)" alt="">
      </div>

      <div class="team-info-details">

        <p class="team-name">{{player.name}} <span class="custom-a">#{{player.number}}</span></p>

        <div class="team-details-row">

          <div class="team-details">
            <p class="subtitle">Position</p>
            <p class="info">{{player.position}}</p>
          </div>

          <div class="team-details">
            <p class="subtitle">Team</p>
            <p class="info">{{player.team}}</p>
          </div>

        </div>

        <div class="team-details-row">
          <div class="team-details">
            <p class="subtitle">Height</p>
            <p class="info">{{player.height}} cm</p>
          </div>

          <div class="team-details">
            <p class="subtitle">Weight</p>
            <p class="info">{{player.weight}} kg</p>
          </div>
        </div>

        <div class="team-details">
          <p class="subtitle">Age</p>
          <p class="info">{{getDate(currentDate).getFullYear() - getDate(player.birthday!).getFullYear()}}</p>
        </div>

      </div>

    </div>

  </div>

</div>
