<div class="sign-in-container">

  <div class="sign-in-block">
    <div class="sign-in-items">
      <p class="title-text">Sign Up</p>
      <app-input [isSubmitted]="isSubmitted" placeholder="" label="Name"
                 [control]="signUpForm.controls.userName"></app-input>
      <app-input [isSubmitted]="isSubmitted" placeholder="" label="Login"
                 [control]="signUpForm.controls.login"></app-input>
      <app-input [isSubmitted]="isSubmitted" [isPassword]="true" placeholder="" type="text" label="Password"
                 [control]="signUpForm.controls.password"></app-input>
      <app-input [isSubmitted]="isSubmitted" [isPassword]="true" placeholder="" type="text"
                 label="Enter your password again"
                 [control]="signUpForm.controls.samePassword"></app-input>
      <app-button (click)="register()" name="Sign Up"></app-button>
      <div [class.checkbox-error]="isSubmitted && signUpForm.controls.isAcceptedPrivacy.value === false">
        <input [formControl]="signUpForm.controls.isAcceptedPrivacy" type="checkbox" class="custom-checkbox"
               id="agreement">
        <label [class.checkbox-text-error]="isSubmitted && signUpForm.controls.isAcceptedPrivacy.value === false"
               for="agreement">I accept the agreement</label>
        <p class="agreement-text" *ngIf="isSubmitted && signUpForm.controls.isAcceptedPrivacy.value === false">You must be accept the agreement.</p>
      </div>
      <p class="subtitle-text">Already a member? <a class="custom-a" [routerLink]="['/authorization/sign-in']">Sign
        In</a></p>
    </div>
  </div>

  <div class="bg-image">
    <img src="../../../../assets/images/sign-up-bg-image.svg" alt="">
  </div>

</div>
