.select-container {
  max-width: 366px;

  .select-block {
    display: flex;
    //align-items: center;
    justify-content: space-between;
    border: 1px solid #D1D1D1;
    border-radius: 4px;

    .select-inner {
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      gap: 0.25rem;

      .choosen-item {
        display: flex;
        gap: 0.5rem;
        border-radius: 0.25rem;
        padding: 0.25rem;
        background-color: #E4163A;
        color: #FFF;

        img {
          cursor: pointer;
        }
      }

      .no-items {
        display: flex;
        align-items: center;
        color: #707070;
      }
    }

    .buttons-block {
      display: flex;
      align-items: center;

      .close-block {
        display: flex;
        padding: 1rem;
        cursor: pointer;
      }

      .expand-block {
        display: flex;
        padding: 1rem;
        cursor: pointer;
      }
    }
  }
  .select-dropdown {
    display: flex;
    flex-direction: column;
    border-radius: 4px;

    .dropdown-item {
      padding: 8px 16px;
      color: #9C9C9C;
      border-bottom: 0.5px solid #D1D1D1;
      border-left: 0.5px solid #D1D1D1;
      border-right: 0.5px solid #D1D1D1;
      cursor: pointer;

      &:hover {
        background-color: #FF768E;
      }

      &:first-child {
        border-top: 0.5px solid #D1D1D1;
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }

}

.active {
  background-color: #C60E2E !important;
  color: #FFF !important;
}
