<div class="select-container">
  <div class="select-block">
    <div class="select-inner">
      <div class="choosen-item" *ngFor="let item of getChoosenOptions()">
        <p>{{item.name}}</p>
        <img (click)="deleteChoosenOption(item.id)" src="./assets/icons/close.svg" alt="">
      </div>
      <div class="choosen-item" *ngIf="choosenItems.length > 3">
        ...
      </div>
      <div class="no-items" *ngIf="choosenItems.length === 0">
        Select...
      </div>
    </div>

    <div class="buttons-block">
      <div *ngIf="choosenItems.length > 0" (click)="unCheckAllOptions()" class="close-block">
        <img src="./assets/icons/close_gray.svg" alt="">
      </div>
      <img src="./assets/icons/line_horizontal.svg" alt="">
      <div (click)="selectService.toggleSelect(selectName)" class="expand-block">
        <img src="./assets/icons/expand.svg" alt="">
      </div>
    </div>
  </div>

  <div *ngIf="getDropdownState()" class="select-dropdown">
    <div *ngFor="let item of options" [class.active]="isActiveOption(item)" class="dropdown-item"
         (click)="selectOption(item)">
      {{item.name}}
    </div>
  </div>
</div>
