<div [id]="'select' + selectName" class="select-container">

  <div class="select-block">
    <div class="choosen-items-block">
      <p>
        {{selectName === 'paginator' ? control.value : value.name}}
      </p>
      <p class="placeholder" *ngIf="!control.value && control.value !== 0">
        {{placeholder}}
      </p>
    </div>
    <div class="buttons-block">
      <div *ngIf="control.value && selectName !== 'paginator'" (click)="unCheckAllOptions()" class="close-block">
        <img src="./assets/icons/close_gray.svg" alt="">
      </div>
      <img src="./assets/icons/line_horizontal.svg" alt="">
      <div (click)="selectService.toggleSelect(selectName)" class="expand-block">
        <img [class.expanded-arrow]="getDropdownState()" src="./assets/icons/expand.svg" alt="">
      </div>
    </div>
  </div>

  <div [@dropdownAnimation]="getDropdownState()" [ngStyle]="{'width': document.getElementById('select' + selectName)?.clientWidth + 'px', 'bottom': selectName === 'paginator' ? '45px' : ''}"
       *ngIf="getDropdownState()" class="select-dropdown">
    <div *ngFor="let item of options" [class.active]="isActiveOption(item)" class="dropdown-item"
         (click)="selectOption(item)">
      {{item.name}}
    </div>
  </div>

</div>
