
$phone-extension: 850px;

$dark-gray: #303030;
$gray: #707070;
$light-gray: #888987;
$lightest-gray: #D1D1D1;
$lightest-gray1: #F6F6F6;

$dark-gray: #C60E2E;
$red: #E4163A;
$light-red: #FF5761;
$lightest-red: #FF768E;
$blue: #344472;
