<div class="team-new-container">

  <div class="team-new-block">

    <div class="team-new-header">
      <p class="custom-a"><span [routerLink]="['/teams']">Teams</span> / {{team ? team.name :  'Add new Team'}}</p>
    </div>

    <div class="team-new-body">

      <div (click)="openChooseFile()" class="add-image-block">
        <img [src]="teamForm.value.imageUrl ? fileService.getImage(teamForm.value.imageUrl!) : './assets/icons/add-image.svg'" alt="">
      </div>

      <div class="team-new-fields">
        <app-input placeholder="" [control]="teamForm.controls.name" label="Name"></app-input>
        <app-input placeholder="" [control]="teamForm.controls.division" label="Division"></app-input>
        <app-input placeholder="" [control]="teamForm.controls.conference" label="Conference"></app-input>
        <app-input placeholder="" type="number" [control]="teamForm.controls.foundationYear" label="Year of foundation"></app-input>

        <div class="buttons-block">
          <app-button [routerLink]="['/teams']" [cancel]="true" name="Cancel"></app-button>
          <app-button [disabled]="teamForm.invalid" (click)="saveChanges()" name="Save"></app-button>
        </div>
      </div>

    </div>

  </div>

</div>

<input #fileInput
       type="file"
       (change)="onFileSelected($event)"
       accept="image/*"
       style="display: none"
/>
