@import "src/variables";
.team-new-container {

  .team-new-block {
    padding: 2rem 5rem;

    .team-new-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2rem;
      background: #FFF;
      border-radius: 10px 10px 0 0;

      .action-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          cursor: pointer;
        }
      }
    }

    .team-new-body {
      display: flex;
      gap: 136px;
      align-items: flex-start;
      background: #FFF;
      padding: 3rem 73px;

      .add-image-block {
        background: rgb(201, 201, 201);
        //opacity: 0.5;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 336px;
        min-height: 260px;
        img {

        }
      }

      .team-new-fields {
        display: flex;
        flex-direction: column;
        gap: 26px;

        .buttons-block {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          app-button {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phone-extension){
  .team-new-block {
    padding: 0 !important;
    padding-top: 1rem !important;
  }
  .team-new-body {
    flex-direction: column;
    padding: 1.5rem !important;
  }
}
