<div class="sign-in-container">

  <div class="sign-in-block">
    <div class="sign-in-items">
      <p class="title-text">Sign In</p>
      <app-input label="Login" [control]="signInForm.controls.login"></app-input>
      <app-input type="Password" label="Password" [control]="signInForm.controls.password"></app-input>
      <app-button [disabled]="signInForm.invalid" (click)="login()" name="Sign In"></app-button>
      <p class="subtitle-text">Not a member yet? <a class="custom-a" [routerLink]="['/authorization/sign-up']">Sign Up</a></p>
    </div>
  </div>

  <div class="bg-image">
    <img src="../../../../assets/images/sign-in-bg-image.svg" alt="">
  </div>

</div>
