<div class="paginator-container">

  <div class="choose-page-block">
    <img (click)="setActivePreviousPage()" src="./assets/icons/arrow-left.svg" alt="">
    <p [class.active]="page.isActive"
       *ngFor="let page of getSlicedPages()"
       (click)="setPage(page)">{{page.name}}</p>
    <p (click)="viewAdditionalPages()" *ngIf="!isViewLastArrayObject()">...</p>
    <p [class.active]="isChoosenLastPage" (click)="chooseLastPage()">{{totalCount}}</p>
    <img (click)="setActiveNextPage()" src="./assets/icons/arow-right.svg" alt="">
  </div>

  <div class="choose-count-block">

  </div>

</div>
