<div class="navbar-container">

  <div class="account-block">
    <img src="./assets/icons/profile.svg" alt="">
    <p>Miles Morales</p>
  </div>

  <div class="nav-items">

    <div class="nav-item">
      <img src="./assets/icons/group_person.svg" alt="">
      <p class="red">Teams</p>
    </div>

    <div class="nav-item">
      <img src="./assets/icons/profile.svg" alt="">
      <p class="gray">Players</p>
    </div>

  </div>

  <div class="exit-block">
    <div (click)="logout()" class="nav-item">
      <img src="./assets/icons/input.svg" alt="">
      <p class="red">Sign Out</p>
    </div>
  </div>

</div>
