<div class="teams-page-container" [class.no-items]="playersList.data.length === 0">
  <div class="teams-page-header">

    <div class="search-block">
      <app-search (onEnter)="onEnterClicked()" [control]="searchNameControl" placeholder="Search..."></app-search>
      <app-multiselect [multiple]="true" [options]="getMappedTeams()" [control]="teamsControl" selectName="teams"></app-multiselect>
    </div>

    <div class="add-block">
      <app-button (click)="navigateToInfoCard('new')" name="Add +"></app-button>
    </div>

  </div>

  <ng-container *ngTemplateOutlet="playersList && playersList.data.length > 0 ? hasPlayers : noPlayers"></ng-container>
</div>

<ng-template #hasPlayers>
<!--    [ngClass]="{'teams-list-three-rows': pageSizeControl.value === 12, 'teams-list-five-rows': pageSizeControl.value === 24}"-->
    <div  @fadeIn *ngIf="isViewList" class="teams-list-default">
      <app-player-card (click)="navigateToInfoCard(player.id)" [playerInfo]="player"
                       *ngFor="let player of playersList.data"></app-player-card>
    </div>

    <app-paginator
      [isPaginatorVisible]="playersList.count > playersList.size"
      [isPageSizeSelectVisible]="(playersList.data.length >= pageSizeControl.value) || !(playersList.count > playersList.size) && (playersList.data.length < pageSizeControl.value)"
      (onPage)="onPageChange($event)"
      [totalCount]="Math.ceil(playersList.count / playersService.playersFilter.pageSize)"
      [page]="playersService.playersFilter.page"
      [pageSizeControl]="pageSizeControl"
    ></app-paginator>
</ng-template>

<ng-template #noPlayers>
    <div [routerLink]="['new']" class="no-items-block">
      <img src="./assets/images/no-items.svg" alt="">
      <div class="no-items-text-block">
        <p class="no-items-title">
          Empty here
        </p>
        <p class="no-items-description">
          Add new players to continue
        </p>
      </div>
    </div>
</ng-template>


